body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
    font-family: Arial, sans-serif;
}

#init {
    padding: 20px;
    background-color: #ff69b4;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#questions, #message {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffc0cb; /* Light pink background */
    pointer-events: none; /* Make canvas non-interactive */
}
